* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

.header {

}

.header__layers {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.layers__title, .layers__subtitle {
    position: relative;
    z-index: 1;
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    will-change: transform;
}

.layers__layer {
    position: absolute;
    width: 100%;
    height: inherit;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform .75s cubic-bezier(.035, .5, 0, 1);
    will-change: transform;
}

.layers__layer_back {
    background-image: url(../assets/images/back-layer.png);
    transform: translate3d(0, calc(var(--scrollTop) / 1.5), 0);
}

.layers__layer_middle {
    background-image: url(../assets/images/middle-layer.png);
    transform: translate3d(0, calc(var(--scrollTop) / 3.5), 0);
    z-index: 2;
}

.layers__layer_front {
    background-image: url(../assets/images/front-layer.png);
    transform: translate3d(0, calc(var(--scrollTop) / 10), 0);
    z-index: 2;
}

.layers__layer_snow {
    background-image: url(../assets/images/snow.png);
    z-index: 2;
}

.main {
    min-height: 100vh;
    background-color: azure;
}